body{
    margin: 0;
    padding: 0;
}
#BarMenu.MuiAppBar-colorPrimary {
    color: #34495e;
    background-color: #f5f5f7;
}
@media (min-width: 600px){
    .MuiToolbar-regular {
        min-height: 53px!important;
    }
}
